span.floater {
    float: left;
    border: 0 solid black;
    margin: 0;
    padding: 0;
}

span.pic0 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic1 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic2 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic3 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic4 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic5 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic6 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic7 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic8 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic9 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic10 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic11 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic12 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic13 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic14 {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

span.pic15 {
    width: 32px;
    height: 32px;
    background: black !important; width: 32px; height: 32px;
    border: 1px solid black;
}
